<h2>Welcome to Hangman</h2>
<br>
<form action="/play_word" method="post">
  <label for="play_word">PLAYER ONE: Enter a word to start a new game:</label>
  <br>
  <input type="password" name="play_word" id="play_word">
  <button type="submit" class="btn btn-primary btn-sm">submit</button>
</form>
<br>
<% if !@@word.win() %>
	<% if @@word.wrong_guesses().length < 7 %>
	<img src='img/<%= @@word.wrong_guesses().length()%>.jpg'>
	<% else %>
	<img src='img/7.jpg'>
	<% end %>
<% else %>
	<img src='img/<%= @@word.wrong_guesses().length()%>win.jpg'>
<% end %>

<h3><%= @@masked_word.join(' ') %></h3>


<% if @@word.wrong_guesses().length() < 7 && !@@word.win() %>
<form action="/guess" method="post">
  <label for="guess">PLAYER TWO: Guess a letter</label>
  <br>
  <input type="text" name="guess" id="guess" autofocus>
  <button type="submit" class="btn btn-warning btn-sm">submit</button>
</form>
<% end %>

<% if !@@word.win() %>
<h3 class="wrong"><%= @@word.wrong_guesses().join(' ') %></h3>
<% else %>
<h2 class="win">You won!</h2>
<h3>Enter another word to play again!</h3>
<% end %>
