<h3>Welcome to Hangman</h3>
<br>
<form action="/play_word" method="post">
  <label for="play_word">Type in a word</label>
  <input type="password" name="play_word" id="play_word">
  <button type="submit" class="btn btn-primary btn-sm">submit</button>
</form>
<br>
<% if @@word.wrong_guesses().length.<(7) %>
<img src='img/hangman_<%= @@word.wrong_guesses().length()%>.jpg'>
<% else %>
<img src='img/hangman_7.jpg'>
<% end %>

<br>

<h3><%= @@masked_word.join(' ') %></h3>
<br>

<% if @@word.wrong_guesses().length() < 7 && !@@word.win() %>
<form action="/guess" method="post">
  <label for="guess">Guess a letter</label>
  <input type="text" name="guess" id="guess" autofocus>
  <button type="submit" class="btn btn-warning btn-sm">submit</button>
</form>
<% end %>

<br>
<br>

<% if !@@word.win() %>
<h3 class="wrong"><%= @@word.wrong_guesses().join(' ') %></h3>
<% else %>
<h4>You won!</h4>
<h6>Type in another word to play again!</h6>
<% end %>
