<h3>Welcome to Hangman</h3>
<p></p>
<p></p>

<form action="/play_word" method="post">
  <label for="play_word">Type in a word</label>
  <input type="password" name="play_word" id="play_word">
  <button type="submit">submit</button>
</form>

<p></p>
<p></p>

<%= @@masked_word.join(' ') %>

<form action="/guess" method="post">
  <label for="guess">Guess a letter</label>
  <input type="text" name="guess" id="guess">
  <button type="submit">submit</button>
</form>

<p></p>
<p></p>
<%= @@word.wrong_guesses().join(' ') %>

<p></p>
<p></p>

<% if @@word.win() %>
<h4>You won!</h4>
<a href="/">Play again</a>
<% end %>
