<!DOCTYPE HTML>
<html>
  <head>
    <title>Hangman</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css'
  </head>
  <body>
    <div class='nice_game'>
      <%= yield %>
    </div>
  </body>
</html>
